
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>注册新用户</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body>
    <h2>注册新账户</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">注册</button>
    </form>

    <p>已有账户？<a href="{% url 'users:login' %}">点此登录</a></p>
</body>
</html>
